@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Sunflower:wght@300;500;700&display=swap');

/* 네비게이션 바 영역 */
.nav-kink.active,
.nav-link:hover {
    color: darkblue !important;
    font-weight: bold;
}

body {
    font-family: "Noto Sans", sans-serif;
}

h1, h2, h3, h4, h5, .logo-font {
    font-family: "Sunflower", sans-serif;
}

/* 포트폴리오 섹션 */
.card-img-top {
    transition: transform .7s;
}
.card-img-top:hover {
    transform: scale(1.1);
    cursor: pointer;
}

/* 포트폴리오 배너 영역 */
.banner {
    background-image: linear-gradient(to top,rgba(0,0,0,0.5)), url(../images/card-banner.jpg);
    background-size: cover;
    background-position: center;
}

@media (min-width:768px) and (max-width:1024px) {
    .text {
        font-size: 15px;
    }
}

